footer{
    margin-top: 10vmax;
    padding: 2vmax;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
}

.leftFooter{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftFooter > h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1vmax;
} 

.leftFooter > p {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2vmax;
}
.leftFooter > img{
    width: 10vmax;
    margin: 1vmax;
    cursor: pointer;
}

.midFooter {
    width: 60%;
    text-align: center;

}
.midFooter > h1{
    font-size: 4vmax;
    font-family: 'Roboro';
    color:red;

}
.midFooter > p{
    width: 60%;
    margin: 1vmax auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.rightFooter {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.rightFooter > h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4vmax;
    text-decoration: underline;
    
}

.rightFooter > a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4vmax;
    text-decoration: none;
    color: white;
    margin: 0.5vmax;
    transition: all 0.5s;
}

.rightFooter > a:hover {
    color: red;
}